/* CSS Overrides for hyde.css and poole.css */


/* Anchors */
a {
  color: #39c;
  text-decoration: none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover {
  color:#069;
}


/* Sidebar */
.sidebar a {
  color: #39c;
  text-decoration: none;
}

.sidebar a:hover { 
  text-decoration: none
}

header p.view {
  position:static;
}

.sidebar h1 a { 
  color: #494949; 
  font-weight: bold; 
}

/* Sidebar nav */
.sidebar-nav {
  padding-left: 0;
  list-style: none;
}

.sidebar {
  text-align: left;
  padding: 2rem 1rem;
  background-color: #fff;
  color: #333;
  border-left: solid 1px #eee;
}

.sidebar-about h1 {
  color: #333;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}


/* Global Resets */

img {
  display: inline;
}

html {
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 58em) {
  html {
   font-size: 16px;
  }
}

@media (min-width: 48em) {
  .content {
    max-width: 60rem;
  }
}

.gist {font-size:10px;line-height:14px;margin-bottom:20px;width:100%}
.reversed { unicode-bidi:bidi-override; direction: rtl; }
.center {
  text-align: center
}

.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}


