a {
  color: #39c;
  text-decoration: none;
}

img {
  display: inline;
}

/* Sidebar links */
.sidebar a {
  color: #39c;
}

.reversed { unicode-bidi:bidi-override; direction: rtl; }
.center {
  text-align: center
}

.gist {font-size:10px;line-height:14px;margin-bottom:20px;width:100%}

/*header h1 a { color: #494949; font-weight: bold; }*/

header p.view {
  position:static;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

html {
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 58em) {
  html {
   font-size: 16px;
  }
}

.small {
  font-size: 80%;
}


.sidebar {
  text-align: left;
  padding: 2rem 1rem;
  background-color: #fff;
  color: #333;
  border-left: solid 1px #eee;
}

.sidebar-about h1 {
  color: #333;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.25rem;

  font-size: 2.5rem;
/*  margin-bottom: 3rem;*/
}

/* Sidebar nav */
.sidebar-nav {
  /*padding-left: 0;*/
  /*list-style: none;*/
}


@media (min-width: 48em) {
  .content {
    max-width: 60rem;
  }
}

