/* Better styles for embedding GitHub Gists */
.gist{font-size:10px;line-height:14px;margin-bottom:20px;width:100%}
.gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:10px !important}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}
.reversed { unicode-bidi:bidi-override; direction: rtl; }

.center {
  text-align: center
}
body {
  font:15px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#111;
}
header { zoom: 1.1;}
header h1 { margin-bottom: 5px; }
header h1 a { color: #494949; font-weight: bold; }
header h3 { margin-top: 20px; margin-bottom: 5px; }
header p.view { margin-bottom: 5px; }
header p.view small { padding-top: 2px; }
header ul {
  zoom: 0.7;
  margin-top: 25px;
}
section { width:550px; }
section p { margin-top: 10px; }
section h1 { margin-bottom: 15px; }
section h2 { margin-bottom: 10px; }
section h2 { margin-bottom: 10px; }
footer {
   bottom: 10px;
   width:103%;
   margin-left:-50px;
}
footer p { margin-bottom: 5px; }
.half-width {
  float: left;
  width: 200px;
  list-style: none;
  padding: 5px;
  margin: 7px;
  margin-bottom: 10px;
}
.half-width h4 {
  margin-bottom: 5px;
}
.half-width ul {
  padding-left: 0;
}
.half-width ul li {
  list-style: inside;
  font-size: 15px;
}
.clear-fix {
  clear: both;
}
dd {
  margin: -.5em 0 0em 0em;
  padding: 0 0 -2em 0;
}
