  <header>
    <a href="{{site.author.github}}" target="tab">GitHub <i class="fa fa-github fa-2"></i> <small>Code and Papers</small></a>

    <a href="/bayesian">An Educated Guess <small>Calibrated Probability Assessment</small></a>
    <a href="/slo-burn">SLO Burn <small>Multi-window SLO Burn Rate Alerting</small></a>
    <a href="/2013/12/15/something-old-something-new.html">Something Old, Something New <small>Age of Buildings in Charleston, South Carolina</small></a>

    <h3>Recent Posts <a href="/atom.xml">
      <i class="fa fa-rss fa-2"></i>
    </h3>
    {% for post in site.posts limit:7 %}
    <a href="{{ post.url }}">{{ post.title }} <small>{{ post.date | date_to_string }}</small></a>
    {% endfor %}
    <small><a href="/posts.html">All posts</a></small>

  </header>
